
  <div *ngIf="adminData" class="table-wrapper">
    <table class="table table-sm table-dark">
        <thead >
          <tr> 
            <td>URL</td>
            <td>Count</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of adminData">
            <td>{{item.longBaseUrl}}</td>
            <td>{{item.count}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div *ngIf="errorMessage.length>0 && !adminData">
    <div *ngFor="let error of errorMessage">
      <p class="error-message">{{error}}</p>
    </div>
    
 </div>

